// Order, takeout and delivery from our site to save money and<br/>support local businnes. Get the best price, fastest service, and <br/>free via reward points 
color: white;
 font-size: 10px;
 font-family: Merienda;
 font-weight: 400;
 word-wrap: break-word
---
// Order now
color: white;
 font-size: 10px;
 font-family: Merienda;
 font-weight: 400;
 word-wrap: break-word
---
// Watch video        
color: white;
 font-size: 10px;
 font-family: Merienda;
 font-weight: 400;
 word-wrap: break-word
---
// PIZZAHUT
color: #DD5000:
 font-size: 20px;
 font-family: Irish Grover;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Orders
color: black;
 font-size: 12px;
 font-family: Merienda;
 font-weight: 400;
 word-wrap: break-word
---
// Home
color: black;
 font-size: 12px;
 font-family: Merienda;
 font-weight: 400;
 word-wrap: break-word
---
// “Best pizza”
color: white;
 font-size: 34px;
 font-family: Merienda;
 font-weight: 400;
 word-wrap: break-word
---
// in Rajakumary
color: white;
 font-size: 16px;
 font-family: Merienda;
 font-weight: 700;
 word-wrap: break-word
---
// Recipes
color: black;
 font-size: 12px;
 font-family: Merienda;
 font-weight: 400;
 word-wrap: break-word